PORT=3000
DB_USER=tu-usuario
DB_PASS=tu-password
DB_NAME=hogaru_db
DATABASE_URL=postgresql://tu-usuario:tu-password@localhost:5432/hogaru_db

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

JWT_SECRET=
CLIENT_URL=http://localhost:5432